.wrapper {
  background-color: #abb4bc1f;
  padding: 30px calc(50% - 635px);
}

.container {
  max-width: 1270px;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  width: 100%;
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}

@media (max-width: 1285px) {
  .wrapper {
    padding: 30px 12px;
  }
}
