.wrapper {
  background-color: #fff;
  padding: 12px calc(50% - 591px);
}

.container {
  max-width: 1180px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.label {
  border: 1px solid #abb4bc85;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  width: 100%;
  box-shadow: 0 2px 4px 0 #0000001f;
}

.inputSearch {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 16px;
  border: 1px solid transparent;
  width: 100%;
  font-size: 20px;
}

.inputSearch::placeholder {
  color: #abb4bc85;
  font-weight: 500;
}

.inputSearch:focus {
  outline: none;
}

.btnForm {
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all ease 0.4s;
  border-radius: 100%;
  padding: 10px;
  display: flex;
}

.btnForm:hover {
  border: none;
  background: transparent;
  background-color: #f2f2f2;
}