.banner{
  position: relative;
  z-index: -9999;
}


.banner > picture{
  display: block;
  height: 290px;
  position: relative;
  width: 100%;
}

.banner > picture::before{
  background-image: linear-gradient(180deg,#000000b3,#0006);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.banner img{
  height: 100%;
  object-fit: cover;
  width: 100%;
}