.card {
  width: calc(25% - 13.25px);
  min-width: 215px;
  height: 310px;
  padding: 16px;
  background-color: #fff;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 0px;
  border-radius: 10px;
  transition: margin-top 0.15s ease, box-shadow 0.15s ease;
  font-family: Roboto, -apple-system, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  box-shadow: 0 2px 4px 0 #0000000f;
  cursor: pointer;
}

.card:hover,
.card:focus,
.card:active {
  margin-top: -2px;
  box-shadow: 0 4px 4px 0 #0000001f;
}

@media (max-width: 948px) {
  .card {
    width: calc(33% - 16px);
  }
}

@media (max-width: 717px) {
  .card {
    width: calc(50% - 16px);
  }
}

@media (max-width: 486px) {
  .card {
    width: calc(100% - 16px);
  }
}

.card a {
  color: inherit;
  text-decoration: none;
}

.card-image {
  padding: 4px !important;
  border-radius: 10%;
  border: 1px solid #eaeaea !important;
}
.card-title {
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 4px;
}
.card-companyName {
  font-weight: 400;
  font-size: 16px;
}

.card-location {
  font-weight: 400;
  font-size: 16px;
}

.card-tags {
  font-weight: 400;
  font-size: 14px;
  max-height: 68px;
  padding-bottom: 16px;
}

.card-tags span {
  border: 1px solid #abb4bc;
  border-radius: 4px;
  padding: 4px;
  transition: all 0.6s;
}

.card-tags span:hover {
  background-color: #abb4bc !important;
}

.card-tags span:not(:last-child) {
  margin-right: 8px;
}

.card-experience {
  color: rgb(97, 97, 97);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-right: 8px;
  padding-right: 8px;
  height: 22px;
  text-align: left;
}

.card-inline {
  display: flex;
  line-height: 24px;
  padding-bottom: 16px;
}

.card-inline div {
  justify-content: space-between;
}
