.wrapper {
  background-color: #abb4bc1f;
  padding: 30px calc(50% - 635px);
}

.title {
  max-width: 1270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 32px;
}

.title .link {
  font-size: 14px;
  font-weight: 500;
  color: #02aea2;
}

.title div {
  font-size: 1.5rem;
  font-weight: 500;
}

.title span {
  margin-right: 16px;
}

.container {
  max-width: 1270px;
  height: 358px;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  width: 100%;
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.control {
  width: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  right: 0;
  top: 0;
}

.title button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  border: none;
  height: 34px;
  width: 34px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
}

.controlSmall {
  display: none;
}

@media (max-width: 1285px) {
  .wrapper {
    padding: 30px 12px;
  }
}

@media (max-width: 486px) {
  .control {
    display: none;
  }

  .title {
    max-width: 1180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 8px;
  }

  .controlSmall {
    padding: 3px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.container button {
  display: inline;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  border: none;
  height: 34px;
  width: 34px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 #0000000f;
}
