.wrapper {
  background-color: #fff;
  padding: 0px calc(50% - 591px);
}

.container {
  max-width: 1180px;
  height: 75px;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigation span{
  font-weight: 300;
  margin-right: 16px;
  cursor: pointer;
  transition: color 0.15s ease;
}

.navigation span:hover,
.navigation span:focus,
.navigation span:active {
  color: #02aea2;
}

.auth span{
  font-weight: 300;
  margin-left: 16px;
  cursor: pointer;
  transition: color 0.15s ease;
}

.auth span:hover,
.auth span:focus,
.auth span:active {
  color: #02aea2;
}