.header{
    padding: 0 calc(50% - 633px);
    left: 0;
    right: 0;
    top: 0;
    z-index: 200;
    }

    @media (max-width:1300px){
      .header{
        padding: 0 20px;
    }
  }

.header.headerMobile{
    position: fixed;
    padding: 0 20px;
    background-color: #fff;
}

.header > div:not(.mobileMenu){
    min-height: 50px;
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px 0;
    justify-content: space-between;
}

.header > div > .headerLogo{
    flex: 0 1 auto;
    padding-right: 12px;
}

.header.headerMobile > div > .headerLogo{
  max-width: 85%;
}

.header > div > .headerLogo > a{
    display: flex;
    align-items: center;
    max-width: 85%;
}

.header > div > .headerLogo img{
  cursor: pointer;
}

.header > div > .headerItems{
    padding: 16px 0 16px;
}

.header > div > .headerItems > a{
    letter-spacing: .01786em;
    line-height: 1.25rem;
    cursor: pointer;
    font-size: .95rem;
    font-weight: 400;
    padding: 5px 16px;
    transition: all .1s;
    position: relative;
}

.header > div > .headerItemsBgBlack > a {
    color: white;
    letter-spacing: .01786em;
    line-height: 1.25rem;
    cursor: pointer;
    font-size: .95rem;
    font-weight: 400;
    padding: 5px 16px;
    transition: all .1s;
    position: relative;
}

.header > div > .headerMenu{
    flex: 0 0 auto;
    margin-left: auto;
}

.header > div > .headerItemsBgBlack > a.current:after{
    background-color: #02aea2;
    bottom: 0;
    content: "";
    height: 2px;
    left: 10px;
    position: absolute;
    right: 10px;
}

.header > div > .headerItems > a.current:after{
  background-color: #02aea2;
  bottom: 0;
  content: "";
  height: 2px;
  left: 10px;
  position: absolute;
  right: 10px;
}

.header > div > .headerItems > a:hover{
    opacity: .6;
}

.header > div > .headerItemsBgBlack > a:hover{
  opacity: .6;
}

.header > div > .headerMenu > div{
    display: flex;
    flex-direction: column;
    height: 32px;
}

.header > div > .headerMenu > div > span{
    display: flex;
    background-color: black;
    width: 26px;
    height: 3px;
    border-radius: 4px;
    margin-top: 4px;
}

@media (max-width:766px){
    .header:not(.headerMobile){
        display: none;
    }
}

@media (min-width:768px){
    .headerMobile{
        display: none;
    }
}

.mobileMenu{
  bottom: 0;
  position: fixed;
  right: 0;
  top: 0;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 5px #0003, 0 2px 2px #00000024, 0 3px 1px -2px #0000001f;
  z-index: 6000;
  overflow: hidden;
  transition-duration: .3s;
}

.mobileMenu > div:nth-of-type(1){
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 16px 16px;
}

.mobileMenu > div:nth-of-type(1) > div{
  display: flex;
  height: 30px;
}

.mobileMenu > div:nth-of-type(1) > div > span{
  display: flex;
  position: relative;
  background-color: black;
  width: 22px;
  height: 2px;
  border-radius: 4px;
  margin-top: 4px;
  top: 10px;
}

.mobileMenu > div:nth-of-type(1) > div > span:nth-of-type(1){
  left: 11px;
  transform: rotate(45deg)
}

.mobileMenu > div:nth-of-type(1) > div > span:nth-of-type(2){
  right: 11px;
  transform: rotate(-45deg)
}

.mobileMenu > div:nth-of-type(2) > div{
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  min-height: auto;
  padding: 8px 16px;
  width: 100%;
  color: #546e7a;
  line-height: 1.5;
  position: relative;
}

.mobileMenu > div:nth-of-type(2) > div > a{
  width: 100%;
}

.mobileMenu > div:nth-of-type(2) > div > a.current{
  color: #000;
}

.mobileMenu > div:nth-of-type(2) > div > a.current::before{
  background-color: #02aea2;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  top: 0;
  width: 3px;
}